body {
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 0px;
    margin: 0px;
}

.card {
    border: solid 0px lightgrey;
    background-color: rgb(135, 12, 236);
    border-radius: 1.2rem;
    min-height: 7rem;
    min-width: 20%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1.5rem;
    color: white;
}

.list {
    list-style: none;
    text-align: center;
    padding: 0%;
}

.empty {
    text-align: center;
    
    margin: 0%;
    color: white;
    font-size: 2rem;
    font-weight: 800;
}

.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(52, 51, 51);
    
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(98, 49, 67, 0.5);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.plus{
    cursor: pointer;  
}

#task_form {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:left;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
}

header {
    padding: 3rem;
    margin-top: -1.5rem;

}